<h1>Listing retailers</h1>

<%= form_tag retailers_path, :method => 'get', :id => "retailers_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="retailers">
    <%= render :partial => 'retailers_table' %>
  </div>
<% end %>
<br />

<%= link_to 'New Retailer', new_retailer_path %>

