<h2 id="listhead"><%=t :nearaddy1 %></h2>
<ul data-role="listview" data-divider-theme="c" data-inset="true">
  <% @retailer_presenter.retailers.each do |retailer| %>
    <li data-theme="c">
    <!-- TODO make the html semantically correct. i.e. no H3's in li's -->
    <%= link_to retailer.google_safe_address, html_options = {} do %>
      <%= content_tag :h3, retailer.name.capitalize %>
      <%= content_tag :p, retailer.address %>
      <%= content_tag :p, retailer.retailer_types.join(", ") %>
      <span class="ui-li-count">
        <%= retailer.distance[:dist] %>
        <%= retailer.distance[:unit] %>
      </span>
    <% end %>
    </li>
  <% end %>
</ul>
