<h1>Listing retailers</h1>

<%= form_tag retailers_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<div id="retailers">
  <%= render :partial => 'retailers_table' %>
</div>
<br />

<%= link_to 'New Retailer', new_retailer_path %>

