<h2><%=t :nearaddy1 %></h2>

<ul class="list-group">
  <% @retailer_presenter.retailers.each do |retailer| %>
    <li>
      <%= link_to retailer.google_safe_address, class: "list-group-item" do %>
        <h3 class="list-group-item-heading">
          <%= retailer.name.capitalize %>
        </h3>
        <p class="list-group-item-text"><%= retailer.distance[:dist] %><%= retailer.distance[:unit] %></p>
        <p class="list-group-item-text"><%= retailer.address %></p>
        <p class="list-group-item-text"><%= retailer.retailer_types.join(", ") %></p>
      <% end %>
    </li>
  <% end %>
</ul>
