<h1>Listing retailers</h1>

<%= form_tag retailers_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= will_paginate %>
<table class="pretty">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "lat" %></th>
    <th><%= sortable "lon" %></th>
    <th><%= sortable "street" %></th>
    <th><%= sortable "city" %></th>
    <th><%= sortable "state" %></th>
    <th><%= sortable "zip" %></th>
    <th><%= sortable "zip_plus_four" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @retailers.each do |retailer| %>
  <tr>
    <td><%= retailer.name %></td>
    <td><%= retailer.lat %></td>
    <td><%= retailer.lon %></td>
    <td><%= retailer.street %></td>
    <td><%= retailer.city %></td>
    <td><%= retailer.state %></td>
    <td><%= retailer.zip %></td>
    <td><%= retailer.zip_plus_four %></td>
    <td><%= link_to 'Show', retailer %></td>
    <td><%= link_to 'Edit', edit_retailer_path(retailer) %></td>
    <td><%= link_to 'Destroy', retailer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate %>
<br />

<%= link_to 'New Retailer', new_retailer_path %>
