<h1>Listing nearby retailers by Given Address from User</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Zip plus four</th>
    <th>Retailer Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @retailers.each do |retailer| %>
  <tr>
    <td><%= retailer.name %></td>
    <td><%= retailer.lat %></td>
    <td><%= retailer.lon %></td>
    <td><%= retailer.street %></td>
    <td><%= retailer.city %></td>
    <td><%= retailer.state %></td>
    <td><%= retailer.zip %></td>
    <td><%= retailer.zip_plus_four %></td>
    <td><%= retailer.retailer_types.join ", " %></td>
    <td><%= link_to 'Show', retailer %></td>
    <td><%= link_to 'Edit', edit_retailer_path(retailer) %></td>
    <td><%= link_to 'Destroy', retailer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Retailer', new_retailer_path %>
