<h2 id="listhead"><%=t :nearaddy1 %></h2>

<div class="general">
  <ul data-role="listview ui-listview">
    <% @retailers.each_with_index do |retailer, ind| %>
      <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c">
    <div class="ui-btn-inner ui-li">
      <div class="ui-btn-text">
        <a href= "<%= "http://maps.google.com/maps?q=" + retailer.google_safe_address %>"  class="ui-link-inherit">
          <h3 class="ui-li-heading">(<%= @rt[ind][:dist] %> <%= @rt[ind][:unit] %>) <%= retailer.name.capitalize %></h3>
          <p class="ui-li-desc"><%= retailer.address %></p>
          <p class="ui-li-desc"><%= retailer.retailer_types.join ", " %></p>
        </a>
      </div>
      <span class="ui-icon ui-icon-arrow-r"></span>
    </div>
    </li>
  <% end %>
  </ul>
</div>
