<div data-role="content">
  <h1 class="logo"><img src="images/snapfreshlogo.png" width="40%" title="snapfresh.org" alt="snapfresh.org" /></h1>
  <h2><b>About SnapFresh:</b></h2>

  <div class="general">
    <div id="credits">
      <%=t :credits1 %> <a href="http://en.wikipedia.org/wiki/Supplemental_Nutrition_Assistance_Program"><%=t :credits2%></a>. <%=t :credits3%> <a href="http://www.yelp.com">

      <img src="http://media4.px.yelpcdn.com/static/20101216159295510/i/map/miniMapLogo.png"></a>
      <%=t :credits4%>.<p><%=t :credits5%> <a href="http://www.aardvarkium.com">Ysiad,</a> <a href="http://codeforamerica.org/author/michelle/">Michelle,</a> <a href="http://www.codemass.com">Aaron,</a> <%=t :credits6%> <a href="http://codeforamerica.org/author/jeremy/">Jeremy</a>.</p>
      <br>
      <b>Why Eat Healthy?</b> Great article on the benefits of eating healthy:
      <a href="http://www.thebeehive.org/health/healthy-living/healthy-eating">http://www.thebeehive.org/health/healthy-living/healthy-eating</a>
      <br><br>
      <%= link_to "See Privacy and other Policies of SnapFresh", terms_path %>
      <br><br>
      <b>Join our <%= link_to "discuss group", "http://www.snapfresh.org/mailman/listinfo/discuss" %>!</b>
    </div>
  </div>
</div>
