<div data-role="content">
  <h1 class="logo"><img src="images/snapfreshlogo.png" width="40%" title="snapfresh.org" alt="snapfresh.org" /></span></h1>
  <h2><%= t(:indexenter1) %></h2>

  <%= form_tag retailers_path, method: 'get' do %>
    <%= text_field_tag :address, params[:address], id:'addressfield' %>
    <!-- TODO make the button smaller i.e. not the full length of the page -->
    <%= submit_tag t(:subbutton1), id:'submitbutton' %>
    <p class="eg"><%= t(:indexenter2) %> 48104, 85 2nd St, San Francisco or Mission and 16th, 94106</p>
  <% end %>

  <div class="sms">
    <p><%= t(:submit1) %></p>
    <h1 class="phone">(415) 889-8650</h1>
  </div>
</div>
