<!DOCTYPE html>
<html>
<head>
  <title>SnapFresh.org</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>

<body>
  <div class="general" data-role="page" data-theme="d">
    <div data-role="header" data-theme="f" class="ui-bar-f ui-header" role="banner">
      <h1 class="ui-title logo" tabindex="0" role="heading" aria-level="1"></h1>
      <a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home" data-inline="true">Home</a>
      <%= link_to "About", about_path, "data-role" => "button", "data-inline" => "true", "data-theme" => "c"%>
    </div>

    <%= yield %>

    <div data-role="controlgroup" data-type="horizontal" >
      <!-- TODO: sanitize params.merge to protect against XSS attacks -->
      <%= link_to 'Espanol', url_for(params.merge(locale: "es")),"data-role" => "button", "data-inline" => "true", "data-theme" => "c"%>
      <%= link_to 'Chinese', url_for(params.merge(locale: "zh")),"data-role" => "button", "data-inline" => "true", "data-theme" => "c"%>
      <%= link_to 'English', url_for(params.merge(locale: "en")),"data-role" => "button", "data-inline" => "true", "data-theme" => "c"%>
    </div>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25396637-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
