<!DOCTYPE html>
<html>
<head>
  <title>SnapFresh.org</title>

	<link href='stylesheets/jquery.mobile-1.0b1.min.css' rel='stylesheet' type='text/css' />    



  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> -->
  <script>!window.jQuery && document.write('<script src="js/jquery-1.4.4.min.js"><\/script>')</script>
		
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>


  <script src="/javascripts/lazy-render.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/render-functions.js?v=0000"></script>
      <script src="/javascripts/yqlgeo.js"></script> 
		<link href='stylesheets/custom.css' rel='stylesheet' type='text/css' />    

  <script>
    $(document).ready(function(){
            
	var addressPrompt = $('#addressfield').val();
	$('#addressfield').focus(function(){


			if ($('#addressfield').val()==addressPrompt) {
					$('#addressfield').empty();
				} 
   	  });
   	   $("#locateme").click(function() {
// 	 	alert('Handler for .submit() called.');
		 initiate_geolocation();  
		});
   	</script>
  <%= csrf_meta_tag %>
</head>
<body>

  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
  <div class="general" data-role="page" data-theme="d">

    <%= yield %>

  <!-- The following content will be displayed to everyone -->
  <div id="credits"><%=t :credits1 %> <a href="http://en.wikipedia.org/wiki/Supplemental_Nutrition_Assistance_Program"><%=t :credits2%></a>. <%=t :credits3%> <a href="http://www.yelp.com">
  <img src="http://media4.px.yelpcdn.com/static/20101216159295510/i/map/miniMapLogo.png"></a>
  <%=t :credits4%>.<p><%=t :credits5%> <a href="http://www.aardvarkium.com">Ysiad,</a> <a href="http://codeforamerica.org/author/michelle/">Michelle,</a> <a href="http://www.codemass.com">Aaron,</a> <%=t :credits6%> <a href="http://codeforamerica.org/author/jeremy/">Jeremy</a>.</p>
  </div>
	</div><!-- end content -->          
  </div> <!-- end page -->          
</body>
</html>
