<!DOCTYPE html>
<html>
<head>
  <title>SnapFresh.org</title>

  <link href='stylesheets/jquery.mobile-1.0b1.min.css' rel='stylesheet' type='text/css' />
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> -->
  <script>!window.jQuery && document.write('<script src="js/jquery-1.4.4.min.js"><\/script>')</script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
  <script src="/javascripts/lazy-render.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/render-functions.js?v=0000"></script>
  <script src="/javascripts/yqlgeo.js"></script>
  <link href='stylesheets/custom.css' rel='stylesheet' type='text/css' />

  <script>
    $(document).ready(function(){
    var addressPrompt = $('#addressfield').val();
    $('#addressfield').focus(function(){
      if ($('#addressfield').val()==addressPrompt) {
      $('#addressfield').empty();
      }
    });
    $("#locateme").click(function() {
      //    alert('Handler for .submit() called.');
      initiate_geolocation();
    });
  </script>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25396637-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</head>
<body>
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
  <div class="general" data-role="page" data-theme="d">
    <div data-role="header" data-theme="f" class="ui-bar-f ui-header" role="banner">
      <h1 class="ui-title logo" tabindex="0" role="heading" aria-level="1"></h1>
      <a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home" data-inline="true">Home</a>
      <%= link_to "About", about_path, "data-role" => "button", "data-inline" => "true", "data-theme" => "c"%>
    </div>

    <%= yield %>

    <div data-role="controlgroup" data-type="horizontal" >
      <!-- TODO: sanitize params.merge to protect against XSS attacks -->
      <%= link_to 'Espanol', url_for(params.merge(locale: "es")),"data-role" => "button", "data-inline" => "true", "data-theme" => "c"%>
      <%= link_to 'Chinese', url_for(params.merge(locale: "zh")),"data-role" => "button", "data-inline" => "true", "data-theme" => "c"%>
      <%= link_to 'English', url_for(params.merge(locale: "en")),"data-role" => "button", "data-inline" => "true", "data-theme" => "c"%>
    </div>
  </div>

</body>
</html>
